body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  line-height: 1.6;
}

.news-container {
  display: grid;
  /* 设置每行有四个等宽的列 */
  grid-template-columns: repeat(4, 1fr); 
  gap: 50px; /* 增大间距，从 30px 调整为 50px */
  padding: 20px 0; 
  max-width: 1200px;
  margin: 0 auto;
}


.news-container img {
  /* 让图片宽度适应网格项 */
  width: 100%; 
  display: block;
  margin-bottom: 10px; 
}

.new-title {
  /* 若上面的 margin-bottom 不够，也可增加上外边距 */ 
  font-size: 1rem; 
  color: #000; 
  font-weight: bold; 
  letter-spacing: -0.05em; 
  line-height: 1.2;
}
.new-sub {
  /* 进一步缩小上外边距 */
  margin-top: 15px; 
  /* 进一步缩小下外边距 */
  margin-bottom: 5px; 
  font-size: 0.875rem;
  /* 移除左右内边距以实现顶格，缩小底部内边距 */
  padding: 0 0 10px; 
  display: block;
  color: rgb(102,102,102); 
  border-bottom: 1px dashed rgb(192,192,192); 
  /* 进一步缩小底部内边距 */
  padding-bottom: 25px; 
}
